@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

/* Animation for vertical fade (initial mount) */
@keyframes fadeInVertical {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	30% {
		transform: translateY(-5px);
	}
	50% {
		transform: translateY(5px);
	}
	70% {
		transform: translateY(-3px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Animation for left-to-right slide (next question) */
@keyframes slideLeftToRight {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	30% {
		transform: translateX(-15px);
	}
	50% {
		transform: translateX(5px);
	}
	70% {
		transform: translateX(-5px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Animation for right-to-left slide (previous question) */
@keyframes slideRightToLeft {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	30% {
		transform: translateX(15px);
	}
	50% {
		transform: translateX(-5px);
	}
	70% {
		transform: translateX(5px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Tailwind utility classes for the animations */
.animate-fadeInVertical {
	animation: fadeInVertical 0.7s ease-out;
}

.animate-slideLeftToRight {
	animation: slideLeftToRight 0.7s ease-out;
}

.animate-slideRightToLeft {
	animation: slideRightToLeft 0.7s ease-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes checkmark {
  0% {
    stroke-dasharray: 0, 100;
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dasharray: 100, 100;
    stroke-dashoffset: 0;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dasharray: 0, 157;
    stroke-dashoffset: 157;
  }
  100% {
    stroke-dasharray: 157, 157;
    stroke-dashoffset: 0;
  }
}

.animate-checkmark {
  animation: checkmark 0.5s ease-out forwards 0.2s;
}

.animate-checkmark-circle {
  animation: checkmark-circle 0.6s ease-out forwards;
}

.checkmark-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #e6ffed; /* Light green background */
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
